.header
    padding-block: 24px 58px
    &__inner
        @include flex(space-between, center)
        position: relative

.nav
    &__list
        @include flex(center, center)
    &__link
        padding: 16px $padding-inline-link

.actions
    &__list
        @include flex(center, center)
    &__link
        padding: 16px $padding-inline-link

.menu-open
    color: $color-secondary
    padding: 16px $padding-inline-link
    & > svg
        transition: scale 0.3s
    @include hover
        & > svg
            scale: 1.2

.menu-close
    @include hover
        color: $color-secondary

.menu-mobile
    width: 360px
    background-color: $color-lite
    position: absolute
    top: 100%
    right: 0
    z-index: 900
    box-shadow: 0px 10px 20px #00000027
    &__inner
        @include column(18px)
        padding: $padding-inline-mobile
    &__wrapper
        @include flex(flex-end, center)
    &__list
        @include flex-column(center, center, 6px)
        flex-grow: 1
    &__list-item
        width: 100%
        text-align: center
    &__link
        display: block
        padding-block: 12px

.billboard
    margin-bottom: 38px
    &__header
        text-align: center
        margin-bottom: 26px
    &__body
        background: url("../img/tesla-wordmark.png") center top/contain no-repeat
        @include flex-column(center, center, 26px)
        margin-bottom: 36px
    &__img
        height: auto
    &__body-wrapper
        @include flex(center, center)
        column-gap: 106px
    &__footer-summary
        @include flex(center, center)
    &__footer-summary::-webkit-details-marker
        display: none
    &__footer-summary::before
        transition: transform 0.3s
        content: ""
        width: 34px
        height: 22px
        background: url("../img/icons/arrow-down-red.svg") center/contain no-repeat
    &__footer[open] > summary::before
        content: ""
        transform: rotate(-180deg)

.box-info
    @include flex(center, center)
    column-gap: 80px
    &__item
        @include flex(center, center)
        column-gap: 14px
        &_medium-gap
            column-gap: 20px
    &__text
        color: $color-dark
        font-size: 20px
        font-weight: 600
        &_lite
            color: $color-lite
    &__text-span
        &_big
            font-size: 1.75em
        &_small
            font-size: 0.6em
            font-weight: 400

.buttons-wrapper
    @include flex(center, center)
    column-gap: 22px

.section
    display: grid
    grid-template-columns: 1fr minmax(442px, 30%)
    height: 100vh
    &__body
        display: flex
        background: url('../img/interior-car.jpeg') center top/cover no-repeat
    &__subtitle
        margin-top: 64px
        margin-left: 64px
    &__img
        width: 100%
    &__info
        background-color: $color-secondary
        padding: 52px 44px 62px 50px
    &__info-inner
        display: grid
        grid-template-columns: 348px
        grid-template-rows: auto 1fr auto
        align-items: flex-start
        height: 100%
    &__info-header
        margin-bottom: 54px
    &__heading
        margin-bottom: 12px
    &__box-info
        flex-direction: column
        align-items: flex-start
        row-gap: 30px
    &__buttons-wrapper
        align-content: flex-end
        column-gap: 12px

