@media ( max-width: 1024px )
    .mobile-hidden
        display: none

    .desktop-hedden
        display: block

@media ( max-width: 768px )
    .container
        padding-inline: $padding-inline-mobile

@media ( max-width: 425px )
    .menu-mobile
        width: 100%


    