@charset "UTF-8";
/**
 * Нормализация блочной модели
 * */
*, ::before, ::after {
  box-sizing: border-box;
}

/**
 * Убираем внутренние отступы слева тегам списков,
 * у которых есть атрибут class
 * */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
 * Убираем внешние отступы body и двум другим тегам,
 * у которых есть атрибут class
 * */
body, :where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
 * Убираем внешние отступы вертикали нужным тегам,
 * у которых есть атрибут class
 * */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
 * Убираем стандартный маркер маркированному списку,
 * у которого есть атрибут class
 * */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
 * Обнуляем вертикальные внешние отступы параграфа
 * */
p {
  margin-block: 0;
}

/**
 * Упрощаем работу с изображениями
 * */
img {
  display: block;
  max-width: 100%;
}

/**
 * Наследуем свойства шрифт для полей ввода
 * */
input, textarea, select, button {
  font: inherit;
}

/**
 * Пригодится в большинстве ситуаций
 * (когда, например, нужно будет "прижать" футер к низу сайта)
 * */
html {
  height: 100%;
}

/**
 * Плавный скролл
 * */
html,
:has(:target) {
  scroll-behavior: smooth;
}

/**
 * Пригодится в большинстве ситуаций
 * (когда, например, нужно будет "прижать" футер к низу сайта)
 * */
/**
 * Унифицированный интерлиньяж
 * */
body {
  min-height: 100%;
  line-height: 1;
}

/**
 * Приводим к единому цвету svg-элементы
 * */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
 * Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 * */
svg * {
  transition-property: fill, stroke;
}

/**
 * Удаляем все анимации и переходы для людей,
 * которые предпочитают их не использовать
 * */
@media (prefers-reduced-motion: reduce) {
  *, ::before, ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * Упрощаем работу с ссылками
 * */
a {
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/**
 *  убираем стандартную фокус-линию
 *  */    
:where(input, textarea, a, button) {
  outline: none;
}

:where(button[class]) {
  background-color: transparent;
  border: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:where(input, textarea, a, button):focus-visible {
  outline: 3px solid #E51937;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #fff;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.desktop-hedden {
  display: none;
}

.is-hidden {
  display: none;
}

.container {
  max-width: 1402px;
  padding-inline: 32px;
  margin-inline: auto;
}

.title {
  color: #000;
  font-size: 90px;
  font-weight: 600;
}

.subtitle {
  color: #E51937;
  font-size: 70px;
  font-weight: 600;
}

.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.23;
}

.text {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}
.text_dark {
  color: #000;
}

.button {
  color: #E51937;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 3em;
  background-color: transparent;
  border: 2px solid #E51937;
  transition: all 0.3s;
}
@media (hover: hover) {
  .button_hover-color-secondary:hover {
    background-color: #E51937;
    color: #fff;
  }
}
@media (hover: none) {
  .button_hover-color-secondary:active {
    background-color: #E51937;
    color: #fff;
  }
}
.button_dark {
  color: #000;
}
@media (hover: hover) {
  .button_dark:hover {
    color: #E51937;
  }
}
@media (hover: none) {
  .button_dark:active {
    color: #E51937;
  }
}
.button_lite {
  color: #fff;
}
.button_with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 0.7em 2.5em;
}
.button_without-border {
  border: none;
}
.button_without-border > :where(svg, span) {
  transition: scale 0.3s;
}
@media (hover: hover) {
  .button_without-border:hover > :where(svg, span) {
    scale: 1.2;
  }
}
@media (hover: none) {
  .button_without-border:active > :where(svg, span) {
    scale: 1.2;
  }
}

.link {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}
@media (hover: hover) {
  .link:hover {
    color: #E51937;
  }
}
@media (hover: none) {
  .link:active {
    color: #E51937;
  }
}

.is-active {
  color: #E51937;
  position: relative;
}
.is-active::after {
  content: "";
  display: block;
  height: 2px;
  width: calc(100% - 24px);
  background-color: currentColor;
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translateX(-50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);
          clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);
}

.header {
  padding-block: 24px 58px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__link {
  padding: 16px 12px;
}

.actions__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.actions__link {
  padding: 16px 12px;
}

.menu-open {
  color: #E51937;
  padding: 16px 12px;
}
.menu-open > svg {
  transition: scale 0.3s;
}
@media (hover: hover) {
  .menu-open:hover > svg {
    scale: 1.2;
  }
}
@media (hover: none) {
  .menu-open:active > svg {
    scale: 1.2;
  }
}

@media (hover: hover) {
  .menu-close:hover {
    color: #E51937;
  }
}
@media (hover: none) {
  .menu-close:active {
    color: #E51937;
  }
}

.menu-mobile {
  width: 360px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 900;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1529411765);
}
.menu-mobile__inner {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding: 18px;
}
.menu-mobile__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-mobile__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 6px;
  flex-grow: 1;
}
.menu-mobile__list-item {
  width: 100%;
  text-align: center;
}
.menu-mobile__link {
  display: block;
  padding-block: 12px;
}

.billboard {
  margin-bottom: 38px;
}
.billboard__header {
  text-align: center;
  margin-bottom: 26px;
}
.billboard__body {
  background: url("../img/tesla-wordmark.png") center top/contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 26px;
  margin-bottom: 36px;
}
.billboard__img {
  height: auto;
}
.billboard__body-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 106px;
       column-gap: 106px;
}
.billboard__info {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.billboard__info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.billboard__info-text {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.billboard__info-span_big {
  font-size: 1.75em;
}
.billboard__info-span_small {
  font-size: 0.6em;
}
.billboard__footer-summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.billboard__footer-summary::-webkit-details-marker {
  display: none;
}
.billboard__footer-summary::before {
  transition: transform 0.3s;
  content: "";
  width: 34px;
  height: 22px;
  background: url("../img/icons/arrow-down-red.svg") center/contain no-repeat;
}
.billboard__footer[open] > summary::before {
  content: "";
  transform: rotate(-180deg);
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
}

@media (max-width: 1024px) {
  .mobile-hidden {
    display: none;
  }
  .desktop-hedden {
    display: block;
  }
  .billboard__body-wrapper {
    flex-wrap: wrap;
    row-gap: 54px;
  }
  .billboard__info {
    width: 100%;
    -moz-column-gap: 66px;
         column-gap: 66px;
  }
  .buttons-wrapper {
    width: 100%;
    -moz-column-gap: 14px;
         column-gap: 14px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-inline: 18px;
  }
  .title {
    font-size: 50px;
  }
  .text_mini-mobile {
    font-size: 10px;
  }
  .billboard__body {
    row-gap: 18px;
  }
  .billboard__body-wrapper {
    row-gap: 44px;
  }
  .billboard__info {
    -moz-column-gap: 38px;
         column-gap: 38px;
  }
  .billboard__info-text {
    font-size: 15px;
  }
  .buttons-wrapper {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
@media (max-width: 425px) {
  .menu-mobile {
    width: 100%;
  }
  .button {
    padding: 0.7em 1.5em;
  }
}/*# sourceMappingURL=style.css.map */